<div class="expense">
  <% @expenses.each do |expense| %>
    <%= expense.name %>
    <%= number_to_currency expense.amount %>

    <% if expense.approved? %>
      Approved
    <% else %>
      <%= link_to 'approve', approve_user_expense_path(expense, user_id: @user.id), method: :post %>
    <% end %>

    <%= link_to 'delete', user_expense_path(expense, user_id: @user.id), method: :delete %>
  <% end %>
</div>
